<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" content="Shubham Gautam: Links">
    <meta name="description" content="Idk, hello? Personal links here...">
    <meta name="keywords"
        content="Links, Shubham, Gautam, Ajmer, Rajsthan Technical University, Bachelor of Technology, Github, Gmail, Facebook, Instagram, Gautam, Web, Developer, Designer, engineering, student, writer, LinkedIn">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Shubham Gautam">
    <meta name="color-scheme" content="dark light">

    <title>Shubham: Links</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>